.header-container{
    display: flex;
    width: 100%;
    height: 100px;
    box-shadow: 5px 2px 2px #888888;
    margin-bottom: 20px;
    background-color: rgb(227, 193, 193);
    border-radius: 8px;
    
}
.forever7-logo{
    margin: 20px;
    width: 100px;
    height: 50px;
    margin-right: 20px;
    border-image: round;
    background-color: bisque;
    border: 4px solid rgb(153, 93, 93);
}

.forever7-logo:hover{
    border-image: round;
    border: 6px solid yellow;
}
.cart-logo{
    padding: 10px;
    margin-right: 10px;
    width: 70px;
    background-color: azure;
}

.cart-logo:hover{
    background-color: rgb(191, 225, 225);
}

.left{
    width: 30%;
    display: flex;
}
.searchBar{
    margin-top: 30px;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}
.search{
    width: 100%;
    padding: 5px 5px;
}
.right{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    margin-right: 10px;
}