.prod-photo{
    display: grid;
   grid-template-columns: 150px 150px;
   grid-template-rows: 200px 200px;
   margin-top: 80px;
   margin-left: 40px;
}
.prod-photo img{
    height: 200px;
    width: 150px;
    padding: 3px;
}
.prod-size{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.prod-size span{
    height: 30px;
    width: 30px;
    background: rgb(202, 175, 126);
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.cartBtn{
   
    height: 40px;
    width: 100px;
    background: rgb(235, 235, 45);
    border: 2px solid black;
    font-size: medium;
    border-radius: 8px;
}
.cartBtn:hover{
    border: 2px solid rgb(81, 180, 35);
    cursor: pointer;
}
.prod-modal{
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    background-color:rgb(241, 236, 236);
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
}
